<%= form_for(@cfactura) do |f| %>
  <% if @cfactura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cfactura.errors.count, "error") %>, no se puede guardar la cabecera de factura:</h2>

      <ul>
      <% @cfactura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num %><br>
    <%= f.number_field :num %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :mneto %><br>
    <%= f.number_field :mneto %>
  </div>
  <div class="field">
    <%= f.label :mbruto %><br>
    <%= f.number_field :mbruto %>
  </div>
  <div class="field">
    <%= f.label :cliente_id %><br>
    <%= f.text_field :cliente_id %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
