<p id="notice"><%= notice %></p>

<h1>Listing Cfacturas</h1>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th>Fecha</th>
      <th>Mneto</th>
      <th>Mbruto</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cfacturas.each do |cfactura| %>
      <tr>
        <td><%= cfactura.num %></td>
        <td><%= cfactura.fecha %></td>
        <td><%= cfactura.mneto %></td>
        <td><%= cfactura.mbruto %></td>
        <td><%= cfactura.cliente_id %></td>
        <td><%= link_to 'Show', cfactura %></td>
        <td><%= link_to 'Edit', edit_cfactura_path(cfactura) %></td>
        <td><%= link_to 'Destroy', cfactura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cfactura', new_cfactura_path %>
