<!DOCTYPE html>
<html>
<head>
<h1>Productos</h1>
<br>
<br>
	<nav class="navbar navbar-default">
		<table>
			<div class="row">
			    <div class="col-md-3">
			      <%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></div>
			    <div class="col-md-3">
			        <%= link_to "Quiénes Somos",{ controller: "quienesomos"}, class: "btn btn-lg "%></div>
			    <div class="col-md-3">
			        <%= link_to "Productos",{ controller: "mostrarprod"}, class: "btn btn-lg "%></div>
			    <div class="col-md-3">
			        <%= link_to "Contacto",{ controller: "contacto"}, class: "btn btn-lg "%></div>
			    </div>
			</div>
		</table>
	</nav>
</head>

<body background="<%= asset_path 'gris.jpg' %>" width=100%>
	<div id="content">
		<div id="marginn">
			
			<div class='img' id='img-1'>
				<div class='mask'></div>
				<img src='<%= asset_path '07.jpg' %>' />
			</div>	
			<div class='img' id='img-2'>
				<div class='mask'></div>
				<img src='<%= asset_path '07.jpg' %>' />
			</div>
		
			<div class='img' id='img-4'>
				<div class='mask'></div>
				<img src='<%= asset_path '07.jpg' %>' />
			</div>
			<div class='img' id='img-5'>
				<div class='mask'></div>
				<img src='<%= asset_path '07.jpg' %>' />
			</div>
		</div>
	</div>

<!--===========================================================================================-->
<footer>
<div id="wrapper">
        <div id="header"></div>
        <div id="contento"></div>
        <div id="footer">Avda. Elías Fernández Albano # 565 La cisterna – Santiago</div>
    </div>
</footer>
</body>
</html>


