<h2>Volver a enviar intrucciones de confirmación</h2>
<body background="<%= asset_path 'gris.jpg' %>" width=100%>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Volver a enviar intrucciones de confirmación" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
