<p id="notice"><%= notice %></p>

<h1>Listando Materias</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Nombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materias.each do |materia| %>
      <tr>
        <td><%= materia.cod %></td>
        <td><%= materia.nombre %></td>
        <td><%= link_to 'Show', materia %></td>
        <td><%= link_to 'Edit', edit_materia_path(materia) %></td>
        <td><%= link_to 'Destroy', materia, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Materia', new_materia_path %>

