<p id="notice"><%= notice %></p>

<p>
  <strong>Cod:</strong>
  <%= @materia.cod %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @materia.nombre %>
</p>

<%= link_to 'Edit', edit_materia_path(@materia) %> |
<%= link_to 'Back', materias_path %>
