<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @empleado.user %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @empleado.pass %>
</p>

<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>
