<%= form_for(@mat_prod) do |f| %>
  <% if @mat_prod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mat_prod.errors.count, "error") %>, no se puede guardar materia/producto:</h2>

      <ul>
      <% @mat_prod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :materia_id %><br>
    <%= f.text_field :materia_id %>
  </div>
  <div class="field">
    <%= f.label :producto_id %><br>
    <%= f.text_field :producto_id %>
  </div>
  <div class="actions">
    <%= f.submit "Aceptar" %>
  </div>
<% end %>
