<p id="notice"><%= notice %></p>

<h1>Listando Materia/Producto</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Materia</th>
      <th>Producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @mat_prods.each do |mat_prod| %>
      <tr>
        <td><%= mat_prod.cantidad %></td>
        <td><%= mat_prod.materia_id %></td>
        <td><%= mat_prod.producto_id %></td>
        <td><%= link_to 'Mostrar', mat_prod %></td>
        <td><%= link_to 'Editar', edit_mat_prod_path(mat_prod) %></td>
        <td><%= link_to 'Eliminar', mat_prod, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Mat/Prod', new_mat_prod_path %>
<br>
<br>
<a href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>
