<p id="notice"><%= notice %></p>

<h1>Listing Mat Prods</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Materia</th>
      <th>Producto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mat_prods.each do |mat_prod| %>
      <tr>
        <td><%= mat_prod.cantidad %></td>
        <td><%= mat_prod.materia_id %></td>
        <td><%= mat_prod.producto_id %></td>
        <td><%= link_to 'Show', mat_prod %></td>
        <td><%= link_to 'Edit', edit_mat_prod_path(mat_prod) %></td>
        <td><%= link_to 'Destroy', mat_prod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mat prod', new_mat_prod_path %>
