<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Cantidad:</strong>
  <%= @mat_prod.cantidad %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @mat_prod.materia_id %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @mat_prod.producto_id %>
</p>

<%= link_to 'Editar', edit_mat_prod_path(@mat_prod) %> |
<%= link_to 'Volver', mat_prods_path %>
