<p id="notice"><%= notice %></p>

<h1>Listando Detalle de Facturas</h1>

<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Hh</th>
      <th>Producto</th>
      <th>Cfactura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @dfacturas.each do |dfactura| %>
      <tr>
        <td><%= dfactura.cantidad %></td>
        <td><%= dfactura.hh %></td>
        <td><%= dfactura.producto_id %></td>
        <td><%= dfactura.cfactura_id %></td>
        <td><%= link_to 'Mostrar', dfactura %></td>
        <td><%= link_to 'Editar', edit_dfactura_path(dfactura) %></td>
        <td><%= link_to 'Eliminar', dfactura, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Dfactura', new_dfactura_path %>
<br>
<br>
<a href="javascript:history.back(-1);" title="Ir la página anterior">Volver</a>
