<div class="row">
  <div class="col-sm-2">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Inicio",{ controller: "home"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Clientes",{ controller: "clientes"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Entrega",{ controller: "entregas"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Materias",{ controller: "materia"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Productos",{ controller: "productos"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Materia/Producto",{ controller: "mat_prods"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Categoría",{ controller: "categoria"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Facturas",{ controller: "cfacturas"}, class: "btn btn-lg "%></li>
            <li><%= link_to "Detalles Factura",{ controller: "dfacturas"}, class: "btn btn-lg "%></li>
            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    Empleado
  </div>
</div>
