<!DOCTYPE html>
<html>
<head>
<title>Fecci</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>

  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "Fecci", root_path, class: "btn btn-lg btn-success", id: "logo" %>

<% if current_user %>
    <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to 'Ingresar', new_user_session_path %>
    <%= link_to 'Registrarse', new_user_registration_path %>
<% end %>

    </div>
  </header>
<div class="container">
<div class="row-fluid">
<div class="span8">
<% if flash.notice %>
  <div class="alert alert-block alert-info">
    <button type="button" class="close" data-dismiss="alert">×
    <%= flash.notice %>
  </div>
<% end %>
<% if flash.alert %>
  <div class="alert alert-block alert-error">
    <button type="button" class="close" data-dismiss="alert">×
    <%= flash.alert %>
  </div>
<% end %>       
</div>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</div>

</body>
</html>